.profile-page-container {
  width: 100%;
  align-items: center !important;
}

.profile-top {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 70px;
}

.profile-photo {
  cursor: pointer;

  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #969696;
  text-align: center;
}

.pp-large {
  height: 150px;
  width: 150px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.profile-info-top,
.profile-info-middle {
  display: flex;
  align-items: center;
  gap: 25px;
}

.profile-info-top h2 {
  font-weight: 400;
  font-size: 1.6rem;
}

.profile-info-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-bottom {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 70px;
}
